<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
</div>
<!-- end loader -->
<!-- header -->
<header>
  <!-- header inner -->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="#" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <nav class="navigation navbar navbar-expand-md navbar-dark">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarsExample04"
              aria-controls="navbarsExample04"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'home' ? 'active' : '' %>"
                    href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'about' ? 'active' : '' %>"
                    href="/about"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'course' ? 'active' : '' %>"
                    href="/course"
                    >Courses</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'gallery' ? 'active' : '' %>"
                    href="/gallery"
                    >Gallery</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'contact' ? 'active' : '' %>"
                    href="/contact"
                    >Contact</a
                  >
                </li>
                <% if(!userIN){ %>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'register' ? 'active' : '' %>"
                    href="/register"
                    >Register</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <%= page === 'login' ? 'active' : '' %>"
                    href="/login"
                    >Login</a
                  >
                </li>
                <%} else { %>
                  <% if (userROLE === 'Trainer'){ %>
                    <li class="nav-item">
                      <a class="nav-link" href="/createCourse">newtrain</a>
                    </li>
                  <% } else if(userROLE === 'Admin'){%>
                    <li class="nav-item">
                      <a class="nav-link" href="/createCourse">Add Course</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <%= page === 'admin' ? 'active' : '' %>" href="/admin">Panel</a>
                    </li>
                  <% }%>  
                <li class="nav-item">
                  <a class="nav-link" href="/user/<%= profileUrl %>">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                <% } %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header inner -->
<!-- end header -->
